<!-- <% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy ; <%= year %>, CSE 340 App. All Rights Reserved.</p>
</footer> -->


<!-- <% const d = new Date(); let year = d.getFullYear(); %>
<footer>
  <p>&copy; <%= year %> CSE Motors. All Rights Reserved.</p>
</footer> -->
<footer>
  <p>&copy; <%= new Date().getFullYear() %> CSE Motors. All Rights Reserved.</p>
</footer>
