<!-- <header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
      <a title="Click to log in" href="/account/login">My Account</a>
    </div>
  </header>

  <header>
    <div class="header-container">
      <h1 class="site-title">CSE Motors</h1>
      <%- include('partials/navigation') %>
    </div>
  </header>
   -->

  <header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
      <a title="Click to log in" href="/account/login">My Account</a>
    </div>
  </header>
  <%- include('partials/navigation') %>



  
  