<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head> -->

  <head>
    <meta charset="UTF-8">
    <!-- ADDED ME -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- UP ADD -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CSE Motors - The best cars in the market">
    <meta name="author" content="CSE Motors">
    <title><%= title %> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
  </head>
  
  