<!-- <nav>
    <ul>
        <li>Home</li>
        <li>Custom</li>
        <li>Sedan</li>
        <li>SUV</li>
        <li>Truck</li>
    </ul>
</nav> -->

<nav>
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/custom">Custom</a></li>
      <li><a href="/sedan">Sedan</a></li>
      <li><a href="/suv">SUV</a></li>
      <li><a href="/truck">Truck</a></li>
    </ul>
    <a href="/account" class="account-link">My Account</a>
  </nav>
  