<section id="intro">
    <h1>Welcome to CSE Motors</h1>
    <p>Your one-stop solution for all vehicle needs - Custom, Sedan, SUV, and Truck.</p>
    <img src="/public/images/vehicles/delorean-tn.jpg" alt="CSE Motors showcase" class="hero-img">
  </section>
  
  <section id="services">
    <h2>Our Services</h2>
    <div class="services-grid">
      <div class="service-item">
        <img src="/public/images/upgrades/flux-cap.png" alt="Flux Capacitor">
        <h3>Flux Capacitor</h3>
      </div>
      <div class="service-item">
        <img src="/public/images/upgrades/flame.jpg" alt="Flames Decals">
        <h3>Flames Decals</h3>
      </div>
      <div class="service-item">
        <img src="../public/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
        <h3>Bumper Sticker</h3>
      </div>
      <div class="service-item">
        <img src="/public/images/upgrades/hub-cap.jpg" alt="Hub Caps">
        <h3>Hub Caps</h3>
      </div>
    </div>
  </section>
  